{% extends 'base.html.twig' %}

{% block title %}
{{ wish.title }} | {{ parent() }}
{% endblock %}

{% block body %}
    <h1>{{wish.title}}</h1>

    {% if wish.filename %}
    <div>
        <img class="wish-img" src="{{ asset('uploads/images/'~wish.filename) }}" alt="Representation of {{ wish.title }}">
    </div>
    {% endif %}

    {# affiche tous les détails de l'idée #}
    <div>{{ wish.description|nl2br }}</div>
    <div>Wish created by {{ wish.author }} on {{ wish.dateCreated|date("Y-m-d") }}</div>

    <div>
        <a href="{{ path('wish_edit', {'id': wish.id}) }}" class="btn btn-warning">Edit</a>
        <a href="{{ path('wish_delete', {'id': wish.id, 'token': csrf_token('delete-token-'~wish.id)}) }}" class="btn btn-danger">Delete</a>
    </div>
{% endblock %}

